<h2 class="titulo-pagina">Sesiones</h2>

<div class="sesiones-contenedor">
  <!-- Sesiones de Usuarios -->
  <mat-card class="mat-card-custom mat-elevation-z4 card-sesiones">

    <div class="sesion-info-table-element">
        <app-sesiones-resumen
          titulo="Sesiones de Usuarios"
          tipo="user"
          [sesionesUsers]="sesionesUser"
        ></app-sesiones-resumen>
    </div>

  </mat-card>

  <!-- Sesiones de Dispositivos -->
  <mat-card class="mat-card-custom mat-elevation-z4 card-sesiones">

    <div class="sesion-info-table-element">
      <app-sesiones-resumen
          titulo="Sesiones de Dispositivos"
          tipo="device"
          [sesionesDevices]="sesionesDevice"
      ></app-sesiones-resumen>
    </div>

  </mat-card>
</div>

<div class="sesion-info">
  <div class="sesion-info-table">
    <mat-card class="mat-card-custom mat-elevation-z4">
      <div class="sesion-info-table-element">
        <app-sesiones-info
          titulo="Información usuarios"
          [sesiones]="sesionesUsersInfo"
          [total]="totalUsersInfo"
          [pageSize]="pageSizeUsersInfo"
          (pageChange)="onPageChangeUser($event)"
        ></app-sesiones-info>
      </div>
    </mat-card>
  </div>
  <div class="sesion-info-table">
    <mat-card class="mat-card-custom mat-elevation-z4">
      <div class="sesion-info-table-element">
        <app-sesiones-info
          titulo="Información dispositivos"
          [sesiones]="sesionesAssetsInfo"
          [total]="totalAssetsInfo"
          [pageSize]="pageSizeAssetsInfo"
          (pageChange)="onPageChangeAssets($event)"
        ></app-sesiones-info>
      </div>
    </mat-card>
  </div>
</div>
