* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
}

/* MAPA */
.map-container {
  flex: 1;
  height: 100%;
  min-width: 0;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  background-color: #3e3d3c;
  border-radius: 10px;
  margin-left: 10px;
}

.map-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

svg {
  width: 100%;
  height: 100%;
  max-width: none;
}

/* SIDE PANEL **/
.side-panel {
  width: 300px;
  min-width: 300px;
  height: 100%;
  background-color: white;
  padding-left: 15px;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ddd;
}

.side-panel * {
  max-width: 100%;
  box-sizing: border-box;
}

.placeholder p {
  font-size: 14px;
  color: #3f3f3f;
  margin: 0;
  text-align: center;
}

/* NOTIFICACIÓN */
.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* ESTILO DISCRETO */
  background: rgba(0, 0, 0, 0.65);
  color: white;

  padding: 6px 10px;
  border-radius: 6px;

  font-size: 12px;
  font-weight: 400;

  z-index: 1000;
  pointer-events: none;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

  white-space: nowrap;
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .side-panel {
    width: 100%;
    min-width: 100%;
    max-height: 40vh;
  }
}

/* TARJETAS DE MÁQUINAS */
.machine-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.machine-card {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: none;
  border: 1.3px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.machine-title {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.machine-status {
  font-size: 14px;
  color: #555;
}

/* COLORES DE ESTADO UNIFICADOS */
.estado-critico {
  color: var(--color-error);
  font-weight: 600;
}

.estado-advertencia {
  color: var(--color-warning);
  font-weight: 600;
}

.estado-informacion {
  color: var(--color-success);
  font-weight: 600;
}

.estado-normal {
  color: var(--color-base);
  font-weight: 600;
}

.estado-desconectado {
  color: var(--color-text-light);
  font-weight: 600;
}

/* LEYENDA DEL MAPA */
.map-legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 13px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  z-index: 9999;
}

/* Escalado de label */
/* Pantallas medianas */

/* Pantallas grandes */
@media (min-width: 1600px) {
  .map-legend {
    font-size: 20px;
  }
}

/* Pantallas muy grandes */
@media (min-width: 1920px) {
  .map-legend {
    font-size: 30px;
  }
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

/* Escalado de dot */

/* Pantallas grandes */
@media (min-width: 1600px) {
  .dot {
    width: 20px;
    height: 20px;
  }
}

/* Pantallas muy grandes */
@media (min-width: 1920px) {
  .dot {
    width: 30px;
    height: 30px;
  }
}

.critico {
  background: var(--color-error);
}

.advertencia {
  background: var(--color-warning);
}

.informacion {
  background: var(--color-success);
}

.normal {
  background: var(--color-base);
}

.desconectado {
  background: var(--color-text-light);
}

/* LABEL */
.machine-label .label-box {
  fill: white;
  stroke: #ccc;
  stroke-width: 1;
}

.machine-label .label-text {
  font-size: 12px;
  fill: black;
  font-family: Arial, sans-serif;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}
