.detalle-simple {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

/* TÍTULOS */
.fila span {
  font-weight: 550;
  /* negrita */
  color: #222;
  /* color principal */
  font-size: 15px;
}

/* VALORES */
.fila b {
  font-weight: 400;
  /* quita el bold visual */
  color: #666;
  /* gris */
  font-size: 15px;
  margin-left: auto;
  text-align: right;
}

h2[mat-dialog-title] {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
