<h2 class="titulo">Vincular turno con activo</h2>
<mat-dialog-content>

      <!-- Turno -->
      <mat-form-field appearance="fill" class="full-width">

        <mat-label>Turno</mat-label>

        <input
          type="text"
          matInput
          [formControl]="turnoControl"
          [matAutocomplete]="autoTurno"
          placeholder="Buscar turno"
        />

        <mat-autocomplete
          #autoTurno="matAutocomplete"
          autoActiveFirstOption
          (optionSelected)="selectTurnoFromAutocomplete($event.option.value)"
        >
          <mat-option
            *ngFor="let t of turnosFiltrados | async"
            [value]="t"
          >
            {{ t.name }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <!-- Activo -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Activo</mat-label>

        <input
          type="text"
          matInput
          [formControl]="activoControl"
          [matAutocomplete]="autoActivo"
          placeholder="Buscar activo"
        />

        <mat-autocomplete
          #autoActivo="matAutocomplete"
          (optionSelected)="selectActivoFromAutocomplete($event.option.value)"
        >
          <mat-option
            *ngFor="let a of activosFiltrados | async"
            [value]="a"
          >
            {{ a.code }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardarVinculacion()">Guardar</button>
</mat-dialog-actions>

