.titulo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000000;
  padding-bottom: 15px;
}

.pdf-dialog-content {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.pdf-viewer {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

mat-dialog-actions button.mat-flat-button {
  border-radius: 8px !important;
  padding: 0 20px !important;
  height: 36px !important;
  background-color: #1976d2 !important;
  color: white !important;
}

@media (max-width: 768px) {
  .pdf-viewer {
    width: 100%;
    height: 70vh !important;
  }
}



