<h2 class='titulo' mat-dialog-title>Contraseña Generada</h2>

<mat-dialog-content>

  <p>Copiá esta contraseña y compartila con el usuario:</p>

  <div class="password-box">

    <span class="password-text">
      {{ data.password }}
    </span>

    <button mat-icon-button (click)="copiar()" matTooltip="Copiar">
      <mat-icon>content_copy</mat-icon>
    </button>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cerrar</button>
</mat-dialog-actions>

