.titulo {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
  height: auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

mat-dialog-content {
  padding: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

mat-accordion {
  width: 100%;
}

mat-expansion-panel {
  margin-bottom: 0.5rem;
}

mat-panel-title {
  font-weight: 600;
}

ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

li {
  margin-bottom: 0.3rem;
}
