<h2 class="titulo">Vincular activo con grupos</h2>
<mat-dialog-content>

      <!-- Activo -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Activo</mat-label>

        <input
          type="text"
          matInput
          [formControl]="activoControl"
          [matAutocomplete]="autoActivo"
          placeholder="Buscar activo"
        />

        <mat-autocomplete
          #autoActivo="matAutocomplete"
          [displayWith]="displayActivo"
          (optionSelected)="selectActivoFromAutocomplete($event.option.value)"
        >
          <mat-option
            *ngFor="let a of activosFiltrados | async"
            [value]="a"
          >
            {{ a.code }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <!-- Sub Activos -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Sub activo</mat-label>

        <input
          type="text"
          matInput
          [formControl]="subActivoControl"
          [matAutocomplete]="autoSubActivo"
          placeholder="Buscar sub activo"
        />

        <mat-autocomplete
          #autoSubActivo="matAutocomplete"
          [displayWith]="displaySubActivo"
          (optionSelected)="selectSubActivoFromAutocomplete($event.option.value)"
        >
          <mat-option
            *ngFor="let s of subActivosFiltrados | async"
            [value]="s"
          >
            {{ s.code }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardarVinculacion()">Guardar</button>
</mat-dialog-actions>


