<h2 class="titulo">Vincular activo con dispositivo</h2>
<mat-dialog-content>

      <!-- Activo -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Activo</mat-label>

        <input
          type="text"
          matInput
          [formControl]="activoControl"
          [matAutocomplete]="autoActivo"
          placeholder="Buscar activo"
        />

        <mat-autocomplete
          #autoActivo="matAutocomplete"
          (optionSelected)="selectActivoFromAutocomplete($event.option.value)"
        >
          <mat-option
            *ngFor="let a of activosFiltrados | async"
            [value]="a"
          >
            {{ a.code }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <!-- Dispositivo -->
      <mat-form-field appearance="fill" class="full-width">

        <mat-label>Dispositivo</mat-label>

        <input
          type="text"
          matInput
          [formControl]="dispositivoControl"
          [matAutocomplete]="autoDispositivo"
          placeholder="Buscar dispositivo"
        />

        <mat-autocomplete
          #autoDispositivo="matAutocomplete"
          (optionSelected)="selectDispositivoFromAutocomplete($event.option.value)"
        >
          <mat-option
            *ngFor="let d of dispositivosFiltrados | async"
            [value]="d"
          >
            {{ d.numero_serie }}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardarVinculacion()">Guardar</button>
</mat-dialog-actions>
