/* You can add global styles to this file, and also import other style files */
:root {
  /* Colores base */
  --color-base: #3784c5;
  --color-light-1: #E3F1FB;
  --color-light-2: #A9D0F0;
  --color-dark-1: #2F6DA4;
  --color-dark-2: #1E4D75;

  /* Colores de estado */
  --color-complementary: #F5A25D;
  --color-success: #48C57A;
  --color-warning: #F9D976;
  --color-error: #E57373;

  /* Texto */
  --text-light: #FFFFFF;
  --text-light-dark: #757575;
  --text-dark: #1A1A1A;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

