<h2 class="titulo">Vincular dispositivo con analítica</h2>

<mat-dialog-content>

  <!-- Dispositivo -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Dispositivo</mat-label>

    <input
      type="text"
      matInput
      [formControl]="dispositivoControl"
      [matAutocomplete]="autoDispositivo"
      placeholder="Buscar dispositivo"
    />

    <mat-autocomplete
      #autoDispositivo="matAutocomplete"
      [displayWith]="displayDispositivo"
      (optionSelected)="selectDispositivoFromAutocomplete($event.option.value)"
    >
      <mat-option
        *ngFor="let d of dispositivosFiltrados | async"
        [value]="d"
      >
        {{ d.numero_serie }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <!-- Analítica -->
  <mat-form-field appearance="fill" class="full-width">

    <mat-label>Analítica</mat-label>

    <input
      type="text"
      matInput
      [formControl]="analiticaControl"
      [matAutocomplete]="autoAnalitica"
      placeholder="Buscar analítica"
    />

    <mat-autocomplete
      #autoAnalitica="matAutocomplete"
      [displayWith]="displayAnalitica"
      (optionSelected)="selectAnaliticaFromAutocomplete($event.option.value)"
    >
      <mat-option
        *ngFor="let a of analiticasFiltradas | async"
        [value]="a"
      >
        {{ a.nombre }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardarVinculacion()">Guardar</button>
</mat-dialog-actions>


