<div class="chart-grafico" #chartContainerHoras>
  <apx-chart
    #chartHoras
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [stroke]="chartOptions.stroke!"
    [fill]="chartOptions.fill!"
    [colors]="chartOptions.colors"
    [title]="chartOptions.title!"
    [subtitle]="chartOptions.subtitle!"
    [xaxis]="chartOptions.xaxis!"
    [yaxis]="chartOptions.yaxis"
    [tooltip]="chartOptions.tooltip"
    style="width: 100%; height: 100%; display: block">
  </apx-chart>
</div>
