.titulo {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
  height: auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.rol-titulo {
  padding: 0px;
  margin: 0;
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
  height: auto;
  font-size: 1.1rem;
  font-weight: normal;
  color: #000000;;
}

mat-dialog-content {
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
